{% extends "layout.html" %}

{% block content %}

<h2>Feed</h2>

<form action="/add_post" method="POST">
    <input name="image" placeholder="image url">
    <input name="caption" placeholder="caption">
    <button>Post</button>
</form>

{% for post in posts %}
<div class="post">
    <p class="author">@{{ post.author.username }}</p>
    <img src="{{ post.image }}">
    <p>{{ post.caption }}</p>
    <form action="/add_comment/{{ post.id }}" method="POST">
        <input name="text" placeholder="comment">
        <button>Send</button>
    </form>
    {% for comment in post.comments %}
        <p>
            <b>@{{ comment.author.username }}</b>
            {{ comment.text }}
        </p>
    {% endfor %}
</div>
{% endfor %}

{% endblock %}