{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<h2 class="title">Connexion</h2>

<form action="/login" method="POST" class="login-form">

    <input type="text" name="username" placeholder="Nom d'utilisateur" required>
    <input type="text" name="password" placeholder="Mot de passe" required>

    <button type="submit">Se connecter</button>

</form>

<!-- REGISTER BUTTON -->
<div class="register-box">
    <p>Pas de compte ?</p>
    <a href="/register" class="btn-register">Créer un compte</a>
</div>

{% endblock %}